@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
    line-height: 1.5;
    font-weight: 400;
    color-scheme: light dark;
    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }

  * {
    @apply text-zinc-800 dark:text-zinc-100;
  }

  h2 {
    @apply text-3xl font-bold;
  }

  button {
    unset: all;
  }

  button:focus,
  button:focus-visible {
    outline: 4px auto -webkit-focus-ring-color;
  }

  body::-webkit-scrollbar {
    width: 6px;
  }
  
  body::-webkit-scrollbar-track {
    @apply bg-zinc-100 dark:bg-zinc-800 rounded-lg;
  }
  
  body::-webkit-scrollbar-thumb {
    @apply rounded-lg bg-[#6BAF8D];
  }
  
  @supports not selector(::-webkit-scrollbar) {
    body {
      scrollbar-color: var(--sb-thumb-color)
                       var(--sb-track-color);
    }
  }
}

@layer components {
  .themed-bg {
    @apply bg-white dark:bg-zinc-900;
  }

  .section {
    @apply w-full max-w-6xl mx-auto px-2 sm:px-4 lg:px-8;
  }

  .icon {
    @apply text-slate-900 hover:text-slate-700 dark:text-slate-200 hover:dark:text-slate-50;
  }

  .box {
    @apply bg-gray-100 dark:bg-zinc-800;
  }

  .bottom-border {
    @apply border-b-[1px] pb-2 mb-2 border-zinc-300 dark:border-zinc-700;
  }

  .tooltip {
    @apply relative;
  }

  .tooltip::before {
    content: attr(data-text);
    position: absolute;
    bottom: 120%;
    left: 50%;
    transform: translateX(-50%);
    @apply rounded-md p-2 text-center hidden bg-zinc-600 text-white;
  }

  .tooltip:hover:before {
    display: block;
  }
}